<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1 class="display-4">Careers</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container my-5">
  <div>
    <p>Triopod Technology is provides Best summer Training program for B.Tech/ M.TECH /BE/ B.SC/ M.sc / BCA/ MCA/
      CS/CSE/IT/ Information
      Technology/ Engineering Student. Summer Training in Delhi Offer by Triopod Technology for all engineering domains.
      It has a
      dedicated placement cell which provides 100% placement chances assistance to students. The benefits that a student
      gets
      out of summer training are innumerable. Triopod Technology, Best Summer training Center for B.Tech/CS/CSE/IT/
      BCA/MCA/
      B.E /M.tech / B.sc/ M.sc/ Engineering Student has already accomplished itself successfully in the field of
      Training and Development after setting milestones and bringing smiles to the faces of more than 1 Lakh students.
      Triopod Technology was incorporated in the year 2013 and over the years Triopod Technology has grown remarkably
      into the greatest training
      giant of Northern India. Triopod Technology is the only organization that is operating in three vertical domains-
      Training, Software & Embedded Development and consulting. Quality is the first and foremost indicator for Triopod
      Technology.
      Triopod Technology emphasizes on Quality and understands the importance of imparting Quality Technical Education
      in creating
      competitive advantage. Triopod Technology, Top Summer Course Institute for BE / Computer Science/CSE/IT/
      Information
      Technology/ BCA/ MCA/ B.sc/ M.sc/ B.Tech/ M.Tech/ Engineering Studentboasts to have its trainers and experts from
      some of the best industries.</p>
  </div>
  <!--Training 1-->
  <div>
    <h2 class="text-center my-5">Summer Training/ Internship Program</h2>
    <div class="row border m-2">
      <div class="col-md-5">
        <div><img src="../../assets/images/summerTraining.jpg" alt="summer training" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <p>
          With ever changing technologies & methodologies, the competition today is much greater than ever before. The
          industrial scenario needs constant technical enhancements to cater to the rapid demands. If you are an
          engineering student or pursuing graduate/post-graduate level IT degree then you may have already heard the
          term "Summer Training". These trainings are important because it is the best way to acquire and clear your
          concepts about your respective fields.<br>
          Few Courses in Summer Training Program are Programming Techniques using  PHP, Core Java, J2EE - Hibernate with Spring Framework, J2EE - Struts with
          Hibernate Framework, Android, ASP.NET With C#, Angular, React, Data Science, Big Data, AWS </p>
        <button class="btn btn-primary " [routerLink]="['/careers','apply']">Apply Now</button>
      </div>
    </div>
  </div>
  <!--Training 2-->
  <div>
    <h2 class="text-center my-5">Winter Training/ Internship Program</h2>
    <div class="row m-2">
      <div class="col-md-5">
        <div><img src="../../assets/images/winterTraining.jpg" alt="Winter training" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <p>Winter Training Program is conducted by Triopod Technology private limited in the months of December and January. The program covers multiple programs to be delivered
          across various locations in Delhi, Noida, Gurugram. The duration of the training is for around 6-8 weeks and upon completion a
          certificate will be provided to students at the end of the program. There will be around 40 to 60 student in a
          batch with a good Student-Trainer-Ratio for effective learning. Selected students will also be awarded as Internship in Triopod depending on their performance<br>
          Few Courses in Winter Training/ Internship Program are Programming Techniques using  PHP, Core Java, J2EE - Hibernate with Spring Framework, J2EE - Struts with
          Hibernate Framework, Android, ASP.NET With C#, Angular, React, Data Science, Big Data, AWS </p>
        <button class="btn btn-primary " disabled [routerLink]="['/careers','apply']">Apply Now</button>
      </div>
    </div>
  </div>
  <!--Training 3-->
  <div>
    <h2 class="text-center my-5">Live Project Based Industrial Program</h2>
    <div class="row border m-2">
      <div class="col-md-5">
        <div><img src="../../assets/images/projectTraining.jpg" alt="Winter training" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <p>Project Based Industrial Training is conducted by Triopod Technology with a range of courses to be delivered across number of locations. The programs
          usually conducted twice a year. The duration of the program
          varies from 2 to 3 months depending on student needs and qualified partner professionals are engaged to
          deliver the program and guide the trainees throughout the program. There are around 50-60 participants in a
          batch with a good Student-Trainer-Ratio for effective learning. Upon completion of the program, training
          certificate and project letter will be provided to successful students.<br>
          Programming Techniques using  PHP, Core Java, J2EE - Hibernate with Spring Framework, J2EE - Struts with
          Hibernate Framework, Android, ASP.NET With C#, Angular, React, Data Science, Big Data, AWS </p>
        <button class="btn btn-primary" disabled [routerLink]="['/careers','apply']">Apply Now</button>
      </div>
    </div>
  </div>
</div>