<footer id="main-footer" class="bg-dark text-center p-4 text-white">
  <div class="container">
      <div class="row">
          <div class="col-6-md pr-3">
              <h5>Development Services</h5>
              <br>
              <p>
                  Website / Web Development Application Development
                  <br> Automation Solution Project Consulting Web Portal
                  <br> Development e-Commerce Portal Web Product
                  <br> Development e-Commerce Portal Database Development
                  <br> Android Apps Development
                  <br>
              </p>
              <h5>Online Promotion Services</h5>
              <p>
                  <br> Search Engine Optimzation Off-Page Submissions SEM /
                  <br> PPC Marketing Internet Marketing PR / Article Distribution
              </p>
          </div>
          <div class="col pr-3">
              <h5>Latest News</h5>
              <br>
              <p>
                  Don't Have Website ? If you have business, promote it through attractive & professional website. Get a
                  Complete
                  5 Page Dynamic Website for just 5,999/- only.
              </p>
              <p class="text-orange">
                  <b> No Hidden charges, Only one time Investment Hurry ! offer Limited Period!</b>
              </p>
          </div>
          <div class="col">
              <h5>Visit us </h5>
              <br>
              <p>
                  <a class="text-danger" href="#">
                      <i class="fas fa-home text-white mr-1"></i>Triopod Pvt. Ltd.
                  </a>
                  <br> S-561, Ground FLoor, Bhagwati Bussiness Center
                  <br> School Block, Shakarpur
                  <br> New Delhi, INDIA - 110092
              </p>
              <h5 class="">Follow Us</h5>
              <a href="https://www.facebook.com/Triopod/"><i class="fab fa-facebook text-white fa-2x m-1"></i></a>
              
              <!-- <i class="fab fa-twitter-square text-white fa-2x m-1"></i>
              <i class="fab fa-youtube text-white fa-2x m-1"></i>
              <i class="fab fa-google-plus text-white fa-2x m-1"></i> -->
              <h4 class="text-danger"></h4>
              <h5 class="text-hide">Created By:</h5>
              <p class="text-hide">Anchal</p>
              <p>&copy; 2013 - Triopod Technology</p>
          </div>
      </div>
  </div>
</footer>