input.ng-invalid.ng-touched{
    border:1px solid red;
}
textarea.ng-invalid.ng-touched{
    border:1px solid red;
}
@media only screen and (min-width: 768px) {
    .hideBig {
      display: none;
    }
  }