<!-- SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item carousel-image-1 active">
              <div class=" dark-overlay2">
                  <div class="container">
                      <div class="carousel-caption text-right mb-5">
                          <h1 class="d-none d-sm-block display-3">Web Design & Development</h1>
                          <p class="lead">Stand Out your Business in Market with Latest Website Designs.</p>
                          <a [routerLink]="['/contactus']" class="btn btn-danger btn-lg">Get Started Now</a>
                          <p class="lead"><b>Tell us a little about your project and we’ll be in touch shortly !</b></p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item carousel-image-2">
              <div class=" dark-overlay2">
                  <div class="container">
                      <div class="carousel-caption mb-5">
                          <h1 class="display-3 d-none d-sm-block">Mobile Apps</h1>
                          <p class="lead">Stand Out your Business in Market Mobile App for both IOs and Android.</p>
                          <a [routerLink]="['/contactus']" class="btn btn-primary btn-lg">Get Started Now</a>
                          <p class="lead"><b>Tell us a little about your project and we’ll be in touch shortly !</b></p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item carousel-image-3">
              <div class=" dark-overlay2">
                  <div class="container">
                      <div class="carousel-caption text-left mb-5">
                          <h1 class="display-3 d-none d-sm-block">Customized E-Commerce</h1>
                          <p class="lead">It Increase Your Business Sales, Interact With More Customer</p>
                          <a [routerLink]="['/contactus']" class="btn btn-success btn-lg">Get Started Now</a>
                          <p class="lead"><b>Tell us a little about your project and we’ll be in touch shortly !</b></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
          <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
          <span class="carousel-control-next-icon"></span>
      </a>
  </div>
</section>

<!--Intro-->
<div id="intro" class="container py-5">
  <p class="p-1">
      <b> Triopod Technology Private Limited</b> is a professional software development company based in India that
      endeavour
      on highly proficient, timely delivered and cost effective software development services. We are highly
      experienced
      in offering offshore software development and project management.
  </p>
  <p class="p-1">
      <b>Triopod Technology Private Limited</b> is one of the leading software development and website design companies
      in
      India, providing software solutions to various industries such as car rental, tours & travels, E-commerce, online
      Education
      Training and Exam, property management and Real-estate at best value for money as per the requirement and
      specifications
      of our clients. What-ever may be your software requirement, we have the solution.
      <br>
      <a [routerLink]="['/services','details']">Read More...</a>
  </p>
</div>

<!-- HOME HEADING SECTION -->
<section id="home-heading" class="p-5">
  <div class="dark-overlay">
      <div class="row">
          <div class="col">
              <div class="container pt-5">
                  <h1 class="display-4">Services we Provide</h1>
                  <p class="d-none d-md-block">Our ways and technologies we use to develop modern softwares and websites.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- HOME ICON SECTION -->
<section id="home-icons" class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4 text-center">
              <i class="fa fa-cog mb-2 fa-5x"></i>
              <h3>CUSTOMIZED WEB SOLUTIONS</h3>
              <p>
                  We strive to develop customized web development solutions, not cookie-cutter projects. This allows us to
                  provide
                  you with a customized, user-friendly, stable and reliable.&nbsp;
              </p><a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
              <i class="fas fa-file-alt fa-5x"></i>
              <h3>RESPONSIVE & DYNAMIC WEBSITE</h3>
              <p>
                  Dynamic website is designed for information like – online database, online commerce, collaborative
                  information,
                  association, personal places, information base, online shopping etc.
              </p>
              <a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
              <i class="fa fa-cart-plus mb-2 fa-5x"></i>
              <h3>E-COMMERCE WEBSITE </h3>
              <p>
                  Having a robust eCommerce website is the foundation of your online retail business, and we understand the
                  importance
                  of utilizing the latest technology to increase your profitability.
              </p>
              <a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
      </div><br>
      <div class="row">
          <div class="col-md-4 mb-4 text-center">
              <i class="fas fa-chalkboard-teacher fa-5x"></i>
              <h3>CONTENT MANAGEMENT SYSTEM</h3>
              <p>
                  Content management systems and blogging platforms make publishing your content much easier and cost
                  effective.
                  Our expertise to develop response & dynamic website.
              </p>
              <a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
              <i class="fas fa-mobile fa-5x"></i>
              <h3>MOBILE APPLICATIONS</h3>
              <p>
                  Mobile apps are integral parts of many businesses, irrespective of their size and industry. Stand Out your
                  Business
                  with developing Mobile Applications (Android & IOS).
              </p>
              <a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
              <i class="fas fa-industry fa-5x"></i>
              <h3>INDUSTRY SOFTWARE SOLUTIONS</h3>
              <p>
                  Empower your business with ERP software based on Microsoft Dynamics! Our product spectrum ranges from ERP
                  software
                  to Business Intelligence solutions.
              </p>
              <a [routerLink]="['/services','details']" class="btn btn-success btn-lg">Learn More</a>
          </div>
      </div>
  </div>
</section>

<!-- HOME HEADING SECTION -->
<section id="home-heading2" class="p-5">
  <div class="dark-overlay">
      <div class="row">
          <div class="col">
              <div class="container pt-5">
                  <h1 class="display-4">Our Process and Technology</h1>
                  <p class="d-none d-md-block">Our ways and technologies we use to develop modern softwares and websites.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- INFO SECTION -->
<section id="info" class="py-3">
  <div class="container">
      <div class="row">
          <div class="col-md-6 align-self-center">
              <h1>What will you get at Triopod!</h1>
              <ul class="list-group list-group-flush mt-4">
                  <li class="list-group-item">We bring your ideas into reality.</li>
                  <li class="list-group-item">We plan before beginning and Implement it intelligently.</li>
                  <li class="list-group-item">We develop great functionality to make things effective.</li>
                  <li class="list-group-item">
                      Quality is everything for us. We deliver final product with top most quality
                      and
                      efficiency.
                  </li>
                  <li class="list-group-item">
                      Our expert Business analyst support team will get in touch with you within 24
                      hours
                      of you posting a query.
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <img src="../../assets/images/process.png" class="img-fluid" alt="">
          </div>
      </div>
  </div>
</section>

<!-- NEWSLETTER SECTION -->
<!-- <section id="portfolio" class="p-3 bg-dark text-white">
  <div class="container">
      <div>
          <h1 class="text-center display-4 my-5">Portfolio</h1>
      </div>
      <div class="row">
          <div class="col-md-4 shadow-lg rounded">
              <div class="border">
                  <a target="_blank" href="https://www.bookmyyoga.in/">
                      <img src="../../assets/images/port1.png" class="img-fluid">
                      <h5 class="text-center p-2">BookMyYoga.in</h5>
                  </a>
              </div>
          </div>
          <div class="col-md-4 shadow-lg rounded">
              <div class="border">
                  <a target="_blank" href="http://lagorichampionship.com/">
                      <img src="../../assets/images/port3.png" class="img-fluid">
                      <h5 class="text-center p-2">LagoriChampionship.com</h5>
                  </a>
              </div>
          </div>
          <div class="col-md-4 shadow-lg rounded">
              <div class="border">
                  <a target="_blank" href="http://www.nityog.com/index.php">
                      <img src="../../assets/images/port2.png" class="img-fluid">
                      <h5 class="text-center p-2">Nityog.com</h5>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section> -->